body{
    height: 100%;
    margin: 0;
}

canvas{
    height: 100%;
    width: 100px;
}

.clear-fix:before,.clear-fix:after{
    display: table;
    content: '';
    clear: both;
}

.add-icon-con{
    position: absolute;
    margin: auto;
    right: -9px;
    top: 0;
    bottom: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    line-height: 18px;
    background-color: cadetblue;
    cursor: pointer;
}

.add-icon{
    font-style: normal;
    margin-left: 6px;
}

.first,.second{
    float: left;
    position: relative;
    /*height: 100%;*/
    width: 200px;
    word-wrap : break-word;
}

.second{
    display: none;
}

.one-to-two{
    float: left;
    width: 100px;
    height: 800px;
}

.first-menu{
    /*margin-top: 250px;*/
    width: 198px;
    height: 98px;
    border: 1px solid darkgreen;
    border-radius: 2px;
    background-color: aquamarine;
}

.menu{
    width: 198px;
    border: 1px solid darkgreen;
    border-radius: 2px;
    background-color: aquamarine;
}

.menu:not(:first-child){
    margin-top: 70px;
}

/*.test-con{*/
    /*width: 200px;*/
    /*height: 200px;*/
    /*position: relative;*/
    /*background-color: cadetblue;*/
/*}*/
/*.test{*/
    /*position: absolute;*/
    /*margin: auto;*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*right: 0;*/
    /*left: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*background-color: antiquewhite;*/
/*}*/
.node {
    cursor: pointer;
}

.overlay{
    background-color:#EEE;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size:10px;
    font-family:sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}